---
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html lang="en" dir="ltr"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:dc="http://purl.org/dc/terms/"
  xmlns:foaf="http://xmlns.com/foaf/0.1/"
  xmlns:og="http://ogp.me/ns#"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:sioc="http://rdfs.org/sioc/ns#"
  xmlns:sioct="http://rdfs.org/sioc/types#"
  xmlns:skos="http://www.w3.org/2004/02/skos/core#"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema#">

{% include head.html %}

<body class="html front not-logged-in one-sidebar sidebar-first page-node page-node- page-node-677 node-type-page i18n-en" >
  <div id="skip-link">
    <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
  </div>

  <div class="jumbotron">
    {% include navbar.html %}
    {% include featured-project-slider.html %}

  </div>
  <!-- close jumbotron -->

  <div class="main-container container">

    <header role="banner" id="page-header"></header>
    <!-- /#page-header -->

    <div class="row">

      <aside class="col-sm-3" role="complementary">
        <div class="region region-sidebar-first">
          {% include affiliate-list.html %}
          <!-- /.block -->
          <section id="block-block-7" class="block block-block hidden-xs clearfix">

            <p style="font-size: 14px;">
              <a href="http://creativecommons.org/publicdomain/zero/1.0/">
                <img alt="Creative Commons License" style="border-width:0; width: auto; height: auto;" src="https://licensebuttons.net/p/zero/1.0/80x15.png" />
              </a>
              <br />
              This work is released under
              <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0</a>
            </p>

          </section>
          <!-- /.block --> </div>
      </aside>
      <!-- /#sidebar-first -->

      <section class="col-sm-9">
        <a id="main-content"></a>
        <h1 class="page-header">Home</h1>
        <div class="region region-content">
          <section id="block-block-6" class="block block-block clearfix">

            <div class="content-tag">
              <h3 style="margin-top: 0px;"> <strong>Help us preserve the endangered cultural heritage of Syria by creating a virtual #NEWPALMYRA​ using digital tools to build the future from the past.</strong> 
              </h3>
            </div>

          </section>
          <!-- /.block -->
          <section id="block-block-11" class="block block-block clearfix">

            <div>

              <p style="margin-top: 10px;">
                #NEWPALMYRA is an online community platform and data repository dedicated to the capture, preservation, sharing, and creative reuse of data about the ancient city of Palmyra.
              </p>

              <p>
                Through its international affiliates, #NEWPALMYRA will source archeological and historical data, share it with the community, and output art exhibitions, salons, and creative works using this data to carry the rich history of Palmyra forward to new generations.
              </p>

              <p> <b>Join us in making #NEWPALMYRA reality!</b>
                We're looking for contributors of all sorts: 3D modelers, archaeologists, artists, curators, developers, educators, journalists, researchers, wikimedians. What you can do now:
              </p>

              <ul>
                <li>Come to #NEWPALMYRA events</li>
                <!--<li>Talk to us realtime, #NEWPALMYRA on freenode IRC</li>
              -->
              <li>
                Contribute issues, code, data in our models <a href="https://github.com/newpalmyra">GitHub</a> projects
              </li>
              <li>
                Email us <a href="mailto:info@newpalmyra.org">info@newpalmyra.org</a>
              </li>
              <li>
                Join our email group <a href="mailto:public+subscribe@lists.newpalmyra.org" >discussion</a> 
              </li>
              <li>
                Join the discussion on <a href="http://webchat.freenode.net/?channels=#newpalmyra" >IRC</a> 
              </li>
              <li>
                Follow us and spread the word on our <a href="https://www.facebook.com/pages/New-Palmyra/200184583646306">Facebook</a>, <a href="https://instagram.com/newpalmyraorg/">Instagram</a>, and <a href="https://twitter.com/newpalmyraorg">Twitter</a>
              </li>
              <li>
                <a href="https://tinyletter.com/NewPalmyra">Subscribe</a> to our email newsletter
              </li>
            </ul>
          </div>
          <div style="margin-top:20px;">
            <a href="http://gandi0.fabricatorz.com:1337/temple-of-bel.zip" class="btn btn-info btn-lg">
              <span class="glyphicon glyphicon-download-alt"></span>
              Download Latest Temple of Bel 3D Models
            </a>
            <a href="https://github.com/newpalmyra/temple-of-bel" class="btn btn-info btn-lg">
              <span class="fa fa-github-square"></span>
              Contribute on GitHub
            </a>
          </div>
          <div style="margin-top:20px;">
            <h4>
              <a href="https://github.com/newpalmyra/press-kit/archive/master.zip">Download our Press Kit</a>
            </h4>
          </div>

        </section>
        <!-- /.block -->
        <!--
        <section id="block-block-12" class="block block-block clearfix">

          
        <h2 class="block-title">Upcoming Events</h2>

        <ul>
          <li>
            Oct 29-30 —
            <a href="https://www.facebook.com/events/965295463529293/">Protocultural Paris</a>
          </li>
          <li>
            Nov 6-7 —
            <a href="https://www.facebook.com/events/1084440524907568/">Protocultural Dubai</a>
          </li>
        </ul>
      </section> -->
      
      {% include news.html %}
      <!-- /.block -->
      <section id="block-block-4" class="block block-block clearfix">

        <!--   
  <div class="well"> <strong>#NEWPALMYRA Rebuilds Ancient Culture with Digital Tools</strong>
        <p>
          San Francisco, CA, Oct 21, 2015 — Today, the #NEWPALMYRA project launched a new online community platform and data repository dedicated to the capture, preservation, sharing, and creative reuse of data about the ancient city of Palmyra.
        </p>
        <p>
          The organization issued an open call for historical data and artistic work to virtually reconstruct Palmyra’s cultural heritage. The collected data will be released into the public domain under a Creative Commons Zero license at NewPalmyra.org.
        </p>
        <p>
          “For millennia, the ancient Syrian city of Palmyra was a vital crossroads of trade and culture. We are hearing the senseless destruction of this archeological treasure by ISIS as a clarion call for the world to celebrate the cultural heritage of Syria,” said Barry Threw, Interim Director of #NEWPALMYRA. “By sharing data and encouraging its use in creative explorations we hope to promote cultural understanding."
        </p>
        <p>
          The archives will launch with models based on the 3d virtual reconstruction of Palmyra started by Bassel Khartabil, a Damascus-based technologist and community organizer, and originator of #NEWPALMYRA. “Palmyra is the most important archeological site in Syria,” says Khartabil, “We hope that by honoring its memory with a virtual site of collaboration we can build a new community and highlight the plight of the Syrian people.”
        </p>
        <p>
          “Bassel is proving yet again that by digitally preserving Palmyra he was far ahead of the curve. ISIS has committed crimes against humanity, deleting the archives upon which our modern civilizations are based,” said Jon Phillips, leader of the #FreeBassel campaign. "The #NEWPALMYRA project picks up Bassel's work and amplifies it through collaboration with international partners."
        </p>
        <p>
          Through its international affiliates, #NEWPALMYRA will source archeological and historical data, share it with the community, and output art exhibitions, salons, and creative works using this data to carry the rich history of Palmyra forward to new generations.
        </p>
      </div>
      -->
    </section>
    
    {% include people-list.html %}

    <!-- /.block -->
    <section id="block-block-9" class="block block-block contact-us-block clearfix">

      <h3 style="margin-top: 0px;">
        For questions, please email <a href="mailto:info@newpalmyra.org">info@newpalmyra.org</a>
      </h3>

    </section>
    <!-- /.block -->
    <section id="block-block-8" class="block block-block hidden-sm hidden-md hidden-lg text-center clearfix">

      <p style="font-size: 35px;">
        <a href="https://twitter.com/newpalmyraorg">
          <i class="fa fa-twitter-square"></i>
        </a>
        <a href="https://instagram.com/newpalmyraorg/">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/pages/New-Palmyra/200184583646306">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a href="https://github.com/newpalmyra">
          <i class="fa fa-github-square"></i>
        </a>
      </p>
      <p style="font-size: 14px;">
        <a href="http://creativecommons.org/publicdomain/zero/1.0/">
          <img alt="Creative Commons License" style="border-width:0; width: auto; height: auto;" src="https://licensebuttons.net/p/zero/1.0/80x15.png" />
        </a>
        This work is released under
        <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0</a>
      </p>

    </section>
    <!-- /.block -->
    <div id="node-677" class="node node-page clearfix" about="/home" typeof="foaf:Document">

      <span property="dc:title" content="Home" class="rdf-meta element-hidden"></span>
      <span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>

      <div class="content"></div>

    </div>
  </div>
</section>

</div>
</div>
<footer class="footer container"></footer>
<script src="/sites/default/files/js/js_5idECjjAo-X5YdkT65CaIiodkWmZlZv-WjSkHlWhoYk.js"></script>
<script src="/sites/default/files/js/js_B2uv6dkjoYobfQVyuXdchgrpnnx4oM0TkP_bDVf8Qrg.js"></script>
</body>
</html>