---
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html lang="en" dir="ltr"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:dc="http://purl.org/dc/terms/"
  xmlns:foaf="http://xmlns.com/foaf/0.1/"
  xmlns:og="http://ogp.me/ns#"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:sioc="http://rdfs.org/sioc/ns#"
  xmlns:sioct="http://rdfs.org/sioc/types#"
  xmlns:skos="http://www.w3.org/2004/02/skos/core#"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema#">

{% include head.html %}

<body class="html front not-logged-in one-sidebar sidebar-first page-node page-node- page-node-677 node-type-page i18n-en" >
  <div id="skip-link">
    <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
  </div>

  <div class="jumbotron">
    {% include navbar.html %}

    <div class="region region-jumbotron">
      <section id="block-views-featured-project-slider-block" class="block block-views clearfix">
      <h1 style="text-align:center;color:white;">3D PRINT #NEWPALMYRA!</h1>
      </section>
    </div>
  </div>

  <div class="main-container container">

    <header role="banner" id="page-header"></header>

    <div class="row" style="text-align:center;">
      <h3 style="margin-top: 0px;"> 
      <strong>Celebrate and preserve the cultural heritage of Palmyra by 3D Printing the Arches of Triumph Globally on January 22nd</strong> 
      </h3>

      <iframe width="640" height="480" src="https://sketchfab.com/models/34cc79141552447f98ef8807875a36c2/embed" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>

      <div style="margin:0 auto;text-align:left;width:100%;">
      <ol style="list-style-position: inside;">
        <li>Let us know you are pledging to help print the model by sending an email to <a href="mailto:info@newpalmyra.org" >INFO@NEWPALMYRA.ORG</a>.</li>
        <li>Download the model of the Arch of Triumph.</li>
        <li>Print the model, any size. Be creative!</li>
        <li>On January 22nd, post photos of your model to Facebook, Instagram, and Twitter with the hashtags #ARCHOFTRIUMPH and #NEWPALMYRA.</li>
        <li>If you would like your model included in the exhibition, mail to:<br/>
          <strong>
          Taipei Contemporary Art Center<br />
          c/o NEWPALMYRA<br />
          No. 11, Lane 49, Baoan Street, Taipei, TAIWAN 103<br />
          +886 2 2550 1231<br />
          </strong>
        </li>
      </ol>
    </div>

    </div>
  </div>
<footer class="footer container"></footer>
<script src="/sites/default/files/js/js_5idECjjAo-X5YdkT65CaIiodkWmZlZv-WjSkHlWhoYk.js"></script>
<script src="/sites/default/files/js/js_B2uv6dkjoYobfQVyuXdchgrpnnx4oM0TkP_bDVf8Qrg.js"></script>
</body>
</html>