---
redirect_from: "/printpalmyra/"
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html lang="en" dir="ltr"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:dc="http://purl.org/dc/terms/"
  xmlns:foaf="http://xmlns.com/foaf/0.1/"
  xmlns:og="http://ogp.me/ns#"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:sioc="http://rdfs.org/sioc/ns#"
  xmlns:sioct="http://rdfs.org/sioc/types#"
  xmlns:skos="http://www.w3.org/2004/02/skos/core#"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema#">

{% include head.html %}

<body class="html front not-logged-in one-sidebar sidebar-first page-node page-node- page-node-677 node-type-page i18n-en" >
  <div id="skip-link">
    <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
  </div>

  <div class="jumbotron">
    {% include navbar.html %}
  </div>

  <div class="main-container container">

    <header role="banner" id="page-header"></header>

    <div class="row">

      <aside class="col-sm-3" role="complementary">
        <div class="region region-sidebar-first">
          {% include print-affiliate-list.html %}
        </div>
      </aside>
  
      <section class="col-sm-9">
              <h3 style="margin-top: 0px; font-size: 3em; margin-bottom: 30px; "> 
      <strong>Celebrate and preserve the cultural heritage of Syria by 3D Printing the Arch of Triumph by January 22nd, 2016</strong> 
      </h3>

      <div style="text-align:center;">
      <iframe width="640" height="480" src="https://sketchfab.com/models/34cc79141552447f98ef8807875a36c2/embed" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe>
      <br />
      <a href="https://sketchfab.com/models/34cc79141552447f98ef8807875a36c2#download" class="btn btn-lg btn-info"><span class="glyphicon glyphicon-download-alt"></span> DOWNLOAD</a>
      </div>

      <div style="margin:0 auto; text-align:left; width:100%; margin-top: 30px; ">
      <ol style="list-style-position: inside; font-size: 1.5em; ">
        <li style="margin-bottom:15px;"><strong style="font-size: 1.5em;" >PLEDGE</strong> to print the model by sending an email to <a href="mailto:info@newpalmyra.org" >INFO@NEWPALMYRA.ORG</a>.</li>
        <li style="margin-bottom:15px;"><strong style="font-size: 1.5em;">DOWNLOAD</strong> the <a href="https://sketchfab.com/models/34cc79141552447f98ef8807875a36c2#download" >model</a> of the Arch of Triumph.</li>
        <li style="margin-bottom:15px;"><strong style="font-size: 1.5em;">PRINT</strong> the model, any size. Be creative!</li>
        <li style="margin-bottom:15px;"><strong style="font-size: 1.5em;">SHARE</strong> your photos On January 22nd to Facebook, Instagram, and Twitter with the hashtags #ARCHOFTRIUMPH, #NEWPALMYRA, and #3DPRINTSPRINT.</li>
        <li style="margin-bottom:15px;"><strong style="font-size: 1.5em;">SEND</strong> your model to be included in the exhibition by January 22nd. Mail to:<br/>
          <strong>
          Taipei Contemporary Art Center<br />
          c/o NEWPALMYRA<br />
          No. 11, Lane 49, Baoan Street, Taipei, TAIWAN 103<br />
          +886 2 2550 1231<br />
          </strong>
        </li>
      </ol>

      <section id="block-block-4" class="block block-block clearfix">

  <div class="well" style="margin-top: 30px;" > 
    <h4><strong>#NEWPALMYRA Releases Arch of Triumph Virtual Model for 3D Printers </strong></h4>

    <p>San Francisco, CA, January 12th, 2016 — Today, the #NEWPALMYRA project publicly released the digitally recreated Syrian cultural heritage site, the Arch of Triumph. #NEWPALMYRA, an online community platform and data repository dedicated to the capture, preservation, sharing, and creative reuse of data about the ancient city of Palmyra, released the second model in the project’s larger plan to virtually rebuild the ISIS destroyed UNESCO World Heritage Site in war-torn Syria. </p>

    <p>“The Arch of Triumph is a symbol of the indestructible cultural spirit of Syria,” said #NEWPALMYRA Interim Director, Barry Threw. “The free sharing of this symbol ensures that the memory embodied in it can never truly be destroyed. It is a message to the world that cultural heritage is bigger than religious ideology, political boundaries, or war, and is part of the collective human experience shared by everyone on Earth.”</p>

  <p>The #NEWPALMYRA project also announced that through Friday, January 22nd, the open model will be 3D printed globally by its community, reaching more than 25,000 printers in 160 countries, supported by 3D printing partners SketchFab, 3D Hubs, Type A Machines, and Origin Base. The model is available for anyone to download and print at http://newpalmyra.org/printpalmyra.</p>

  <p>The documentation of the printing from around the world will be shared online, tagged #PRINTPALMYRA. The results will be displayed at an art exhibition, “Protocultural Taipei: New Causes for the Old”, at the Taipei Contemporary Art Center, with an opening on Saturday, January 23rd, and show running until January 31st, 2016. All models and work from the exhibition will be released into the into the public domain under a Creative Commons Zero 1.0 license. </p>

  <p>Creative Commons CEO, Ryan Merkley stated, “We're proud to see the release of the Arch of Triumph into the public domain. This act not only allows sharing freely with the world, it also preserves and digitally protects our cultural heritage. #NEWPALMYRA will live on for everyone as part of the Commons.”</p>

  <p>“We call on all 3D printmakers around the world to participate in a mass global effort to synthesize the Arch of Triumph, by downloading the free and open source model, printing it, and documenting the object publicly online”, said Protocultural Taipei organizer, Christopher Adams. “The creative results will be exhibited along with other artworks celebrating cultural replenishment at the Taipei Contemporary Art Center.”</p>
  </div>
  
</section>
    </div>


    <section id="block-block-9" class="block block-block contact-us-block clearfix">

      <h3 style="margin-top: 0px;">For questions, please email <a href="mailto:info@newpalmyra.org">info@newpalmyra.org</a></h3>

    </section>

    <section id="block-block-8" class="block block-block hidden-sm hidden-md hidden-lg text-center clearfix">

      <p style="font-size: 35px;">
        <a href="https://twitter.com/newpalmyraorg">
          <i class="fa fa-twitter-square"></i>
        </a>
        <a href="https://instagram.com/newpalmyraorg/">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/pages/New-Palmyra/200184583646306">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a href="https://github.com/newpalmyra">
          <i class="fa fa-github-square"></i>
        </a>
      </p>
      <p style="font-size: 14px;">
        <a href="http://creativecommons.org/publicdomain/zero/1.0/">
          <img alt="Creative Commons License" style="border-width:0; width: auto; height: auto;" src="https://licensebuttons.net/p/zero/1.0/80x15.png" />
        </a>
        This work is released under
        <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0</a>
      </p>

    </section>

    <div id="node-677" class="node node-page clearfix" about="/home" typeof="foaf:Document">

      <span property="dc:title" content="Home" class="rdf-meta element-hidden"></span>
      <span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>

      <div class="content"></div>

    </div>
  </div>
</section>

</div>
</div>
<footer class="footer container"></footer>
<script src="/sites/default/files/js/js_5idECjjAo-X5YdkT65CaIiodkWmZlZv-WjSkHlWhoYk.js"></script>
<script src="/sites/default/files/js/js_B2uv6dkjoYobfQVyuXdchgrpnnx4oM0TkP_bDVf8Qrg.js"></script>
</body>
</html>
