<section id="block-views-sponsors-list-block" class="block block-views clearfix">

            <div class="view view-sponsors-list view-id-sponsors_list view-display-id-block hidden-xs view-dom-id-0669f71ce6512f6ebe60d891ee3a8daa"> 

              <div class="view-content">
                <div class="item-list">
                  <ul>
                    <li class="views-row views-row-1 views-row-odd views-row-first">
                      <div class="views-field views-field-field-logo">
                        <div class="field-content">
                          <a href="http://creativecommons.org/">
                            <img style="margin-bottom:10px;"  typeof="foaf:Image" src="/sites/default/files/images/affiliate_list/cc.logo_.large_.png" width="1010" height="241" alt="Creative Commons Logo" title="Creative Commons" />
                          </a>
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-2 views-row-even">
                      <div class="views-field views-field-field-logo">
                        <div class="field-content">
                          <img style="margin-bottom:10px;"  typeof="foaf:Image" src="/sites/default/files/images/affiliate_list/media_lab_logo_website_300dpi.png" width="675" height="365" />
                        </div>
                      </div>
                    </li>

                    <li class="views-row views-row-4 views-row-even">
                      <div class="views-field views-field-field-logo">
                        <div class="field-content">
                          <a href="https://www.sketchfab.com/">
                            <img style="margin-bottom:10px;"  typeof="foaf:Image" src="/sites/default/files/images/affiliate_list/logo-sketchfab-grey.png" alt="SketchFab Logo" title="logo-sketchfab-grey.png" />
                          </a>
                        </div>
                      </div>
                    </li>


                    <li class="views-row views-row-4 views-row-even">
                      <div class="views-field views-field-field-logo">
                        <div class="field-content">
                          <a href="https://www.3dhubs.com/">
                            <img style="margin-bottom:10px;"  typeof="foaf:Image" src="/sites/default/files/images/affiliate_list/3D-Hubs_logo-vertical500.png" alt="3D hubs Logo" title="3d Hubs Logo" />
                          </a>
                        </div>
                      </div>
                    </li>

                    
                    <li class="views-row views-row-4 views-row-even">
                      <div class="views-field views-field-field-logo">
                        <div class="field-content">
                          <a href="https://www.eff.org/">
                            <img style="margin-bottom:10px;"  typeof="foaf:Image" src="/sites/default/files/images/affiliate_list/eff-logo-name.png" width="414" height="54" alt="Electronic Frontier Foundation Logo" title="Electronic Frontier Foundation" />
                          </a>
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-5 views-row-odd">
                      <div class="views-field views-field-field-logo">
                        <div class="field-content">
                          <a href="http://www.scm.cityu.edu.hk/">
                            <img style="margin-bottom:10px;"  typeof="foaf:Image" src="/sites/default/files/images/affiliate_list/scm-logo.png" width="548" height="434" alt="Shaw Center Logo" title="Shaw Center" />
                          </a>
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-5 views-row-odd">
                      <div class="views-field views-field-field-logo">
                        <div class="field-content">
                          <a href="http://obscuradigital.com/">
                            <img style="margin-bottom:10px;"  typeof="foaf:Image" src="/sites/default/files/images/affiliate_list/obscura.png" width="999" height="146" alt="Obscura Logo" title="Obscura" />
                          </a>
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-6 views-row-even">
                      <div class="views-field views-field-field-logo">
                        <div class="field-content">
                          <a href="https://www.mozilla.org">
                            <img style="margin-bottom:10px;"  typeof="foaf:Image" src="/sites/default/files/images/affiliate_list/mozilla-logo-100261528-large.png" width="465" height="200" alt="Mozilla" title="Mozilla" />
                          </a>
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-7 views-row-odd">
                      <div class="views-field views-field-field-logo">
                        <div class="field-content">
                          <a href="http://www.barjeelartfoundation.org/">
                            <img style="margin-bottom:10px;"  typeof="foaf:Image" src="/sites/default/files/images/affiliate_list/Barjeel_Logo.png" width="418" height="727" alt="Barjeel Art Foundation" title="Barjeel Art Foundation" />
                          </a>
                        </div>
                      </div>
                    </li>
                    
                    <li class="views-row views-row-3 views-row-odd">
                      <div class="views-field views-field-field-logo">
                        <div class="field-content">
                          <a href="https://commons.wikimedia.org">
                            <img style="margin-bottom:10px;"  typeof="foaf:Image" src="/sites/default/files/images/affiliate_list/Wikimedia-logo.png" width="600" height="600" alt="Wikimedia Logo" title="Wikimedia" />
                          </a>
                        </div>
                      </div>
                    </li>
                    
                    <li class="views-row views-row-4 views-row-even">
                      <div class="views-field views-field-field-logo">
                        <div class="field-content">
                          <a href="http://www.tcac.tw/">
                            <img style="margin-bottom:10px;" typeof="foaf:Image" src="/sites/default/files/images/affiliate_list/tcac-logo.png" alt="TCAC Logo" title="TCAC Logo" />
                          </a>
                        </div>
                      </div>
                    </li>

                    <li class="views-row views-row-4 views-row-odd">
                      <div class="views-field views-field-field-logo">
                        <div class="field-content">
                          <a href="http://voltivo.com/">
                            <img style="margin-bottom:10px;" typeof="foaf:Image" src="/sites/default/files/images/affiliate_list/voltivo-logo.png" alt="TCAC Logo" title="Voltivo Logo" />
                          </a>
                        </div>
                      </div>
                    </li>

                    <li class="views-row views-row-4 views-row-even">
                      <div class="views-field views-field-field-logo">
                        <div class="field-content">
                          <a href="https://www.typeamachines.com/">
                            <img style="margin-bottom:10px;" typeof="foaf:Image" src="/sites/default/files/images/affiliate_list/typea-logo.png" alt="Type A Logo" title="Type A Logo" />
                          </a>
                        </div>
                      </div>
                    </li>
                    
                    <li class="views-row views-row-9 views-row-odd">
                      <div class="views-field views-field-field-logo">
                        <div class="field-content">
                          <a href="http://grayarea.org/">
                            <img style="margin-bottom:10px;"  typeof="foaf:Image" src="/sites/default/files/images/affiliate_list/ga-banner-logo-left-gray.png" width="2354" height="474" alt="Gray Area Logo" title="Gray Area" />
                          </a>
                        </div>
                      </div>
                    </li>
                    
                    <li class="views-row views-row-10 views-row-even">
                      <div class="views-field views-field-field-logo">
                        <div class="field-content">
                          <a href="https://www.electricobjects.com/">
                            <img style="margin-bottom:10px;"  typeof="foaf:Image" src="/sites/default/files/images/affiliate_list/eo-logo.png" width="1018" height="154" alt="Electric Objects Logo" title="Electric Objects" />
                          </a>
                        </div>
                      </div>
                    </li>

                    <li class="views-row views-row-11 views-row-odd">
                      <div class="views-field views-field-field-logo">
                        <div class="field-content">
                          <a href="http://michaelsturtz.com/stanford-ci-lab/">
                            <img style="margin-bottom:10px;"  typeof="foaf:Image" src="/sites/default/files/images/affiliate_list/stanford-cil.png" width="1010" height="227" alt="Ignition Lab" title="Ignition Lab" />
                          </a>
                        </div>
                      </div>
                    </li>
                    
                    <li class="views-row views-row-12 views-row-even">
                      <div class="views-field views-field-field-logo">
                        <div class="field-content">
                          <a href="http://fabricatorz.com/">
                            <img style="margin-bottom:10px;"  typeof="foaf:Image" src="/sites/default/files/images/affiliate_list/Fabricatorz-type.png" width="2398" height="193" alt="Fabricatorz" title="Fabricatorz" />
                          </a>
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-13 views-row-odd">
                      <div class="views-field views-field-field-logo">
                        <div class="field-content">
                          <a href="http://www.rml-cinechamber.org/">
                            <img style="margin-bottom:10px;"  typeof="foaf:Image" src="/sites/default/files/images/affiliate_list/cinechamber_logo.png" width="168" height="218" alt="Recombinant Media Labs Logo" title="Recombinant Media Labs" />
                          </a>
                        </div>
                      </div>
                    </li>
                    <li class="views-row views-row-14 views-row-even">
                      <div class="views-field views-field-field-logo">
                        <div class="field-content">
                          <a href="http://www.swissnexsanfrancisco.org/">
                            <img style="margin-bottom:10px;"  typeof="foaf:Image" src="/sites/default/files/images/affiliate_list/SFO_L_RGB_4C.png" width="377" height="104" alt="SwissnexSF Logo" title="SwissnexSF" />
                          </a>
                        </div>
                      </div>
                    </li>

                    <li class="views-row views-row-8 views-row-even">
                      <div class="views-field views-field-field-logo">
                        <div class="field-content">
                          <a href="http://www.arthackday.net/">
                            <img style="margin-bottom:10px;"  typeof="foaf:Image" src="/sites/default/files/images/affiliate_list/AHD%20logo.png" width="320" height="320" alt="Art Hack Day Logo" title="Art Hack Day Logo" />
                          </a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
          </section>
