<section id="block-views-events-block" class="block block-views clearfix">

  <div class="view view-events view-display-id-block list-unstyled view-dom-id-2e985da8785447039ee1e3792d9526d9">

    <img style="margin-bottom: 15px;" src="/sites/default/files/images/Protocultural_Dubai_03.jpg" />

    <p>Thank you for considering a donation to #NEWPALMYRA.</p>

    <p>#NEWPALMYRA is fiscally sponsored by the <strong>Gray Area Foundation for the Arts</strong>, a 501(c)3 non-profit, and so is able to accept tax-dedutable donations from US taxpayers.<p>

    <div style="width:100%; margin-top:20px; margin-bottom:30px;">
        <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=FJHLUUPUJD4R6" style="font-size:2.0em;" class="btn btn-warning btn-block btn-lg">DONATE HERE WITH PAYPAL</a>
      </div> 

    <p>Your contribution will be used to support our programs virtually reconstructing the architecture of Palmyra, and encouraging creative projects and community buildling around the world, such as:</p>

     <ul style="list-style-type:disc;">
      <li>Researching, rebuilding, and improving models.</li>
    	<li>Running workshops around the world to engage community with cultural heritage.</li>
      <li>Maintaining our infrastructure and making technical improvements to our toolkit.</li>
    	<li>Giving presentations on #NEWPALMYRA at conferences around the world.</li>
      <li>Including our work in exhibitions and festivals.</li>
    </ul>

  </div>
</section>
