<div class="region region-jumbotron">

  <section id="block-views-featured-project-slider-block" class="block block-views clearfix">

    <div class="view view-featured-project-slider view-id-featured_project_slider view-display-id-block container banner-slider view-dom-id-1f02578270d32d7aed5cb505fb41011d">

      <div class="view-content">
        <div id="flexslider-1" class="flexslider">
          <ul class="slides">
            <li>
              <div class="views-field views-field-field-project-images">
                <div class="field-content">
                  <img typeof="foaf:Image" src="/sites/default/files/images/featured_project_slider/bel-5_0.jpg" width="1024" height="700" />
                </div>
              </div>
            </li>
            <li>
              <div class="views-field views-field-field-project-images">
                <div class="field-content">
                  <img typeof="foaf:Image" src="/sites/default/files/images/featured_project_slider/vlcsnap-2016-05-21-16h32m51s885.png" width="1024" height="700" />
                </div>
              </div>
            </li>
            <li>
              <div class="views-field views-field-field-project-images">
                <div class="field-content">
                  <img typeof="foaf:Image" src="/sites/default/files/images/featured_project_slider/Arch-of-Triumph-01.jpg" width="1024" height="700" />
                </div>
              </div>
            </li>
            <li>
              <div class="views-field views-field-field-project-images">
                <div class="field-content">
                  <img typeof="foaf:Image" src="/sites/default/files/images/featured_project_slider/sing_pano_crop.jpg" width="1024" height="700" />
                </div>
              </div>
            <li>
              <div class="views-field views-field-field-project-images">
                <div class="field-content">
                  <img typeof="foaf:Image" src="/sites/default/files/images/featured_project_slider/beyond-destruction-1.jpg" width="1024" height="700" />
                </div>
              </div>
            </li>
            <li>
              <div class="views-field views-field-field-project-images">
                <div class="field-content">
                  <img typeof="foaf:Image" src="/sites/default/files/images/featured_project_slider/Image%20from%20Edwin%20Braun%281%29.jpg" width="1024" height="700" />
                </div>
              </div>
            </li>
            <li>
              <div class="views-field views-field-field-project-images">
                <div class="field-content">
                  <img typeof="foaf:Image" src="/sites/default/files/images/featured_project_slider/dubai-modeling.jpg" width="1024" height="700" />
                </div>
              </div>
            </li>
            <li>
              <div class="views-field views-field-field-project-images">
                <div class="field-content">
                  <img typeof="foaf:Image" src="/sites/default/files/images/featured_project_slider/volvito-2.jpg" width="1024" height="700" />
                </div>
              </div>
            </li>
            <li>
              <div class="views-field views-field-field-project-images">
                <div class="field-content">
                  <img typeof="foaf:Image" src="/sites/default/files/images/featured_project_slider/venice-biennale-1.jpg" width="1024" height="700" />
                </div>
              </div>
            </li>
            <li>
              <div class="views-field views-field-field-project-images">
                <div class="field-content">
                  <img typeof="foaf:Image" src="/sites/default/files/images/featured_project_slider/3dprint.png" width="1024" height="700" />
                </div>
              </div>
            </li>

          </ul>
        </div>
      </div>

    </div>
  </section>
</div>