<div style="margin: auto; padding:0px; text-align: center; font-size: 3em;">
<a href="http://newpalmyra.org/printsprint" >JOIN THE #NEWPALMYRA #PRINTSPRINT</a>
</div>

<div class="region region-jumbotron">
      
      <section id="block-views-featured-project-slider-block" class="block block-views clearfix">

        <div class="view view-featured-project-slider view-id-featured_project_slider view-display-id-block container banner-slider view-dom-id-1f02578270d32d7aed5cb505fb41011d">

          <div class="view-content">
            <div id="flexslider-1" class="flexslider">
              <ul class="slides">
                <li>
                  <div class="views-field views-field-field-project-images">
                    <div class="field-content">
                      <img typeof="foaf:Image" src="/sites/default/files/images/featured_project_slider/Arch-of-Triumph-01.jpg" width="1024" height="700" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="views-field views-field-field-project-images">
                    <div class="field-content">
                      <img typeof="foaf:Image" src="/sites/default/files/images/featured_project_slider/bel-3.jpg" width="1024" height="700" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="views-field views-field-field-project-images">
                    <div class="field-content">
                      <img typeof="foaf:Image" src="/sites/default/files/images/featured_project_slider/Image%20from%20Edwin%20Braun%281%29.jpg?itok=9AX3KJoq" width="1024" height="700" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="views-field views-field-field-project-images">
                    <div class="field-content">
                      <img typeof="foaf:Image" src="/sites/default/files/images/featured_project_slider/12304083_985288244846783_8553117668586928991_o.jpg" width="1024" height="700" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="views-field views-field-field-project-images">
                    <div class="field-content">
                      <img typeof="foaf:Image" src="/sites/default/files/images/featured_project_slider/dubai-modeling.JPG" width="1024" height="700" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="views-field views-field-field-project-images">
                    <div class="field-content">
                      <img typeof="foaf:Image" src="/sites/default/files/images/featured_project_slider/3dprint.png?itok=QAsr4J43" width="1024" height="700" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="views-field views-field-field-project-images">
                    <div class="field-content">
                      <img typeof="foaf:Image" src="/sites/default/files/images/featured_project_slider/RSSSD-2.jpg" width="1024" height="700" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="views-field views-field-field-project-images">
                    <div class="field-content">
                      <img typeof="foaf:Image" src="/sites/default/files/images/featured_project_slider/secondlife.jpg" width="1024" height="700" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="views-field views-field-field-project-images">
                    <div class="field-content">
                      <img typeof="foaf:Image" src="/sites/default/files/images/featured_project_slider/bel-5_0.jpg?itok=sW2GqLPF" width="1024" height="700" />
                    </div>
                  </div>
                </li>
                <li>
                  <div class="views-field views-field-field-project-images">
                    <div class="field-content">
                      <img typeof="foaf:Image" src="/sites/default/files/images/featured_project_slider/Palmyra_moskito-crop_0.png?itok=2DK1Zol3" width="1024" height="700" />
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </section>
      <!-- /.block --> </div>