    <header id="navbar" role="banner" class="navbar navbar-default">
      <div class="container">
        <div class="navbar-content">
          <a class="logo navbar-btn pull-left col-xs-8 col-xs-push-2 col-sm-3 col-sm-push-0" href="/" title="Home">
            <img src="/sites/all/themes/newpalmyra/logo.png" alt="Home" />
          </a>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div style="margin-bottom:20px;" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Sites
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/models/arch-of-triumph">Arch of Triumph</a>
                  </li>
                  <li>
                    <a href="/models/theater">Roman Theater</a>
                  </li>
                  <li>
                    <a href="/models/temple-of-baal-shamin">Temple of Baal Shamin</a>
                  </li>
                  <li>
                    <a href="/models/temple-of-bel">Temple of Bel</a>
                  </li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Community
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/projects/al-aous-publishers">Al-Aous Publishers</a>
                  </li>
                  <li>
                    <a href="/projects/asad-al-lat">Asad Al-Lat</a>
                  </li>
                  <li>
                    <a href="/projects/palmyra-sy">Palmyra.sy</a>
                  </li>
                  <li>
                    <a href="/projects/palmyra-3d-model">Palmyra 3D Model</a>
                  </li>
                  <li>
                    <a href="/projects/craft-grid">#NEWPALMYRA Craft-Grid</a>
                  </li>
                </ul>
              </li>

              <li><a href="/people">People</a></li>

              <li class="dropdown">
                <a href="#" title="Switch Language" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-language"></i>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/">English</a>
                  </li>
                  <li>
                    <a href="/L10n/es/">Español</a>
                  </li>
                  <li>
                    <a href="/L10n/fr/">Français</a>
                  </li>
                  <li>
                    <a href="/L10n/el/">Ελληνικά</a>
                  </li>
                  <li>
                    <a href="/L10n/ru/">русский</a>
                  </li>
                  <li>
                    <a href="/L10n/zh-tw/">繁體</a>
                  </li>
                  <li>
                    <a href="https://github.com/newpalmyra/newpalmyra.org#translation"><strong>Help Translate</strong></a>
                  </li>
                </ul>
              </li>

            </ul>
            <form class="navbar-form" action="https://tinyletter.com/NewPalmyra" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/NewPalmyra', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
              <div class="form-group">
                <input type="text" placeholder="Enter email address" class="form-control" name="email" id="tlemail" />
              </div>
              <input type="hidden" value="1" name="embed"/>
              <input type="submit" class="btn" value="Subscribe" />
            </form>
            <div class="social-links">
              <a href="https://twitter.com/newpalmyraorg"> <i class="fa fa-twitter-square"></i></a>
              <a href="https://instagram.com/newpalmyraorg/"> <i class="fa fa-instagram"></i></a>
              <a href="https://www.facebook.com/pages/New-Palmyra/200184583646306"><i class="fa fa-facebook-square"></i></a>
              <a href="https://github.com/newpalmyra"><i class="fa fa-github-square"></i></a>
            </div>
          </div>
          <!-- /.navbar-collapse --> </div>

        <!-- <div class="tag col-xs-12 col-sm-6">Modeling Past the Future</div> -->
        </div>
    </header>
