<section id="block-views-latest-news-block" class="block block-views clearfix">

        <div class="view view-latest-news view-id-latest_news view-display-id-block list-unstyled view-dom-id-2e985da8785447039ee1e3792d9526d9">
          <div class="view-header">
            <h2>Latest News</h2>
          </div>

          <div class="view-content">
            <div class="item-list">
              <ul>

                {% for post in site.categories.press %}

                <li class="views-row views-row-8 views-row-{% cycle 'odd', 'even' %}">
                  <div class="views-field views-field-title">
                    <span class="field-content">
                      <a href="{{ post.link }}">
                        {{ post.title }}
                      </a>
                      -
                      <em>{{ post.source }} [{{ post.language }}]</em>
                      <em>{{ post.date | date: "%d&nbsp;%b&nbsp;%Y" }}</em>
                    </span>
                  </div>
                </li>

                {% endfor %}

              </ul>


              <iframe src="https://www.youtube.com/embed/kxCyhKj969Q" width="832" height="468" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              <p><a href="https://www.youtube.com/watch?v=kxCyhKj969Q">Director Barry Threw at CyArk Summit 2015</a>.</p>

              <iframe src="https://player.vimeo.com/video/146124282" width="832" height="468" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				      <p><a href="https://vimeo.com/146124282">Director Barry Threw at ProtoCultural Paris 2015</a>.</p>

              <iframe width="832" height="468" src="https://www.youtube.com/embed/EZkLb01JCiw?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen style="margin-top: 10px;"></iframe>
              <p><a href="https://www.youtube.com/watch?v=EZkLb01JCiw">Jon Phillips on #freebassel Campaign #newpalmyra #protocultural and events</a>.</p>

              <iframe width="832" height="468" src="https://www.youtube.com/embed/6Q99ymWV2BA?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen style="margin-top: 10px;"></iframe>
              
            </div>
          </div>

        </div>
      </section>
