<section id="block-block-4" class="block block-block clearfix">

  <div class="well"> <strong>#NEWPALMYRA Rebuilds Ancient Culture with Digital Tools</strong>
    <p>
      San Francisco, CA, Oct 21, 2015 — Today, the #NEWPALMYRA project launched a new online community platform and data repository dedicated to the capture, preservation, sharing, and creative reuse of data about the ancient city of Palmyra.
    </p>
    <p>
      The organization issued an open call for historical data and artistic work to virtually reconstruct Palmyra’s cultural heritage. The collected data will be released into the public domain under a Creative Commons Zero license at NewPalmyra.org.
    </p>
    <p>
      “For millennia, the ancient Syrian city of Palmyra was a vital crossroads of trade and culture. We are hearing the senseless destruction of this archeological treasure by ISIS as a clarion call for the world to celebrate the cultural heritage of Syria,” said Barry Threw, Interim Director of #NEWPALMYRA. “By sharing data and encouraging its use in creative explorations we hope to promote cultural understanding."
    </p>
    <p>
      The archives will launch with models based on the 3d virtual reconstruction of Palmyra started by Bassel Khartabil, a Damascus-based technologist and community organizer, and originator of #NEWPALMYRA. “Palmyra is the most important archeological site in Syria,” says Khartabil, “We hope that by honoring its memory with a virtual site of collaboration we can build a new community and highlight the plight of the Syrian people.”
    </p>
    <p>
      “Bassel is proving yet again that by digitally preserving Palmyra he was far ahead of the curve. ISIS has committed crimes against humanity, deleting the archives upon which our modern civilizations are based,” said Jon Phillips, leader of the #FreeBassel campaign. "The #NEWPALMYRA project picks up Bassel's work and amplifies it through collaboration with international partners."
    </p>
    <p>
      Through its international affiliates, #NEWPALMYRA will source archeological and historical data, share it with the community, and output art exhibitions, salons, and creative works using this data to carry the rich history of Palmyra forward to new generations.
    </p>
  </div>
  
</section>