<section id="block-views-sponsors-list-block" class="block block-views clearfix">

            <div class="view view-sponsors-list view-id-sponsors_list view-display-id-block hidden-xs view-dom-id-0669f71ce6512f6ebe60d891ee3a8daa">

              <div class="view-content">
                <div class="item-list">
                  <ul>
                    <li class="views-row views-row-1 views-row-odd views-row-first">
                      <div class="views-field views-field-field-logo">
                        <div class="field-content">
                          <a href="http://creativecommons.org/">
                            <img style="margin-bottom:10px;" typeof="foaf:Image" src="/sites/default/files/images/affiliate_list/cc.logo_.large_.png" width="1010" height="241" alt="Creative Commons Logo" title="Creative Commons" />
                          </a>
                        </div>
                      </div>
                    </li>

                    <li class="views-row views-row-2 views-row-even">
                      <div class="views-field views-field-field-logo">
                        <div class="field-content">
                          <img style="margin-bottom:10px;" typeof="foaf:Image" src="/sites/default/files/images/affiliate_list/media_lab_logo_website_300dpi.png" width="675" height="365" />
                        </div>
                      </div>
                    </li>

                    <li class="views-row views-row-4 views-row-even">
                      <div class="views-field views-field-field-logo">
                        <div class="field-content">
                          <a href="https://www.sketchfab.com/">
                            <img style="margin-bottom:10px;" typeof="foaf:Image" src="/sites/default/files/images/affiliate_list/logo-sketchfab-grey.png" alt="SketchFab Logo" title="logo-sketchfab-grey.png" />
                          </a>
                        </div>
                      </div>
                    </li>

                    <li class="views-row views-row-4 views-row-even">
                      <div class="views-field views-field-field-logo">
                        <div class="field-content">
                          <a href="https://www.3dhubs.com/">
                            <img style="margin-bottom:10px;" typeof="foaf:Image" src="/sites/default/files/images/affiliate_list/3D-Hubs_logo-vertical500.png" alt="3D hubs Logo" title="3d Hubs Logo" />
                          </a>
                        </div>
                      </div>
                    </li>

                    <li class="views-row views-row-4 views-row-even">
                      <div class="views-field views-field-field-logo">
                        <div class="field-content">
                          <a href="https://www.originbase.com/">
                            <img typeof="foaf:Image" src="/sites/default/files/images/affiliate_list/origin-base-logo.png" alt="Origin Base Logo" title="Origin Base Logo" />
                          </a>
                        </div>
                      </div>
                    </li>

                    <li class="views-row views-row-4 views-row-even">
                      <div class="views-field views-field-field-logo">
                        <div class="field-content">
                          <a href="http://www.tcac.tw/">
                            <img style="margin-bottom:10px;" typeof="foaf:Image" src="/sites/default/files/images/affiliate_list/tcac-logo.png" alt="TCAC Logo" title="TCAC Logo" />
                          </a>
                        </div>
                      </div>
                    </li>

                    <li class="views-row views-row-4 views-row-even">
                      <div class="views-field views-field-field-logo">
                        <div class="field-content">
                          <a href="https://www.typeamachines.com/">
                            <img style="margin-bottom:10px;" typeof="foaf:Image" src="/sites/default/files/images/affiliate_list/typea-logo.png" alt="Type A Logo" title="Type A Logo" />
                          </a>
                        </div>
                      </div>
                    </li>

                    <li class="views-row views-row-5 views-row-odd">
                      <div class="views-field views-field-field-logo">
                        <div class="field-content">
                          <a href="http://obscuradigital.com/">
                            <img style="margin-bottom:10px;" typeof="foaf:Image" src="/sites/default/files/images/affiliate_list/obscura.png" width="999" height="146" alt="Obscura Logo" title="Obscura" />
                          </a>
                        </div>
                      </div>
                    </li>
                    
                    
                    
                  </ul>
                </div>
              </div>

            </div>
          </section>
