<section id="block-views-events-block" class="block block-views clearfix">

  <div class="view view-events view-display-id-block list-unstyled view-dom-id-2e985da8785447039ee1e3792d9526d9">
    <div class="view-header">
      <h2>UPLOAD PHOTOS OR MODELS</h2>
    </div>

    <div class="view-content">
      <a href="https://dbinbox.com/newpalmyra" class="dbinbox">Upload Files</a><script type="text/javascript" src="https://dbinbox.com/embed.js"></script>
    </div>

    <ul>
      <li>Your photos can be used to help remodel Palmyra!</li>
    	<li>Please include a text file with a description of your photos or 3d models.</li>
    	<li>Unless otherwise specified, by upload your photos or model to #NEWPALMYRA they will be placed under a <a href="https://creativecommons.org/about/cc0/">CC0 license</a>.</li>
    </ul>

  </div>
</section>
