div.right-col-img { 
	max-width: 832px;
	margin-bottom:20px;
}

img.right-col-img { 
	max-width: 100%; 
}

img {
	max-width:100%;
	height:auto;
}

iframe {
	max-width:100%;
}

.slicknav_menu {
    display:none;
}

@media only screen and (max-width: 40em) {
    #menu {
        display:none;
    }

    .slicknav_menu {
        display:block;
    }
}

body {
    font-size:2em;
}

.navbar .donate { width:15%; float: right; align:right; font-size: 2em; text-align: right; padding: 0px 0px; line-height: 1em; margin-top: 5px; }