div.right-col-img { 
	max-width: 832px;
	margin-bottom:20px;
}

img.right-col-img { 
	max-width: 100%; 
}

img {
	max-width:100%;
	height:auto;
}

iframe {
	max-width:100%;
}

.js .slicknav_menu {
    display:none;
}

@media screen and (max-width: 480px) {
    .js #menu {
        display:none;
    }

    .js .slicknav_menu {
        display:block;
    }
}