<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
  "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html lang="en" dir="ltr"
  xmlns:content="http://purl.org/rss/1.0/modules/content/"
  xmlns:dc="http://purl.org/dc/terms/"
  xmlns:foaf="http://xmlns.com/foaf/0.1/"
  xmlns:og="http://ogp.me/ns#"
  xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
  xmlns:sioc="http://rdfs.org/sioc/ns#"
  xmlns:sioct="http://rdfs.org/sioc/types#"
  xmlns:skos="http://www.w3.org/2004/02/skos/core#"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema#">

  {% include head.html %}

  <body class="html front not-logged-in one-sidebar sidebar-first page-node page-node- page-node-677 node-type-page i18n-en" >
    <div id="skip-link">
      <a href="#main-content" class="element-invisible element-focusable">Skip to main content</a>
    </div>

    <div class="navigation">{% include navbar.html %}</div>

    <div class="jumbotron">
      {% if page.slideshow == true %}
        {% include featured-project-slider.html %}
      {% endif %}
    </div>

    <div class="main-container container">

      <div class="row">
        
        {% include sidebar.html %}
        
        <section class="col-sm-9">
          <a id="main-content"></a>
          <h1 class="page-header">Home</h1>
 
          <div class="region region-content">
            
            {% if page.title != null %}
              <section id="block-block-6" class="block block-block clearfix">

                <div class="content-tag" dir="{{ page.direction }}">
                  <h1 style="margin-top: 0px;"> <strong>{{ page.title }}</strong></h1>
                </div>

              </section>
            {% endif %}
          
            <section id="block-block-8" class="" dir="{{ page.direction }}">{{ content }}</section>

              <p style="font-size: 35px;">
                <a href="https://twitter.com/newpalmyraorg"> <i class="fa fa-twitter-square"></i></a>
                <a href="https://instagram.com/newpalmyraorg/"> <i class="fa fa-instagram"></i></a>
                <a href="https://www.facebook.com/pages/New-Palmyra/200184583646306">
                  <i class="fa fa-facebook-square"></i>
                </a>
                <a href="https://github.com/newpalmyra">
                  <i class="fa fa-github-square"></i>
                </a>
              </p>
              <p style="font-size: 14px;">
                <a href="http://creativecommons.org/publicdomain/zero/1.0/">
                  <img alt="Creative Commons License" style="border-width:0; width: auto; height: auto;" src="https://licensebuttons.net/p/zero/1.0/80x15.png" />
                </a>
                This work is released under
                <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0</a>
              </p>

            </section>
  
            <div id="node-677" class="node node-page clearfix" about="/home" typeof="foaf:Document">

              <span property="dc:title" content="Home" class="rdf-meta element-hidden"></span>
              <span property="sioc:num_replies" content="0" datatype="xsd:integer" class="rdf-meta element-hidden"></span>

              <div class="content"></div>

            </div>
          </div>
        </div>
    </div>
    <footer class="footer container"></footer>
    <script src="/sites/default/files/js/js_5idECjjAo-X5YdkT65CaIiodkWmZlZv-WjSkHlWhoYk.js"></script>
    <script src="/sites/default/files/js/js_B2uv6dkjoYobfQVyuXdchgrpnnx4oM0TkP_bDVf8Qrg.js"></script>

  </body>
</html>