---
layout: default
slideshow: true
---

          <div>
            {{ content }}
          </div>

          <div style="margin-top:20px;">
            <a href="https://github.com/newpalmyra/press-kit/archive/master.zip" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-download-alt"></span>Download our Press Kit</a>
          </div>
          
          {% include upload-form.html %}

      <!--{% include events.html %}-->

      {% include news.html %}

      {% include articles.html %}

      {% include videos.html %}

    <section id="block-block-9" class="block block-block contact-us-block clearfix">

      <h3 style="margin-top: 0px;">For questions, please email <a href="mailto:info@newpalmyra.org">info@newpalmyra.org</a></h3>

    </section>


