---
layout: default
slideshow: true
---

          <div>
            {{ content }}
          </div>
          <div style="margin-top:20px;">
            <a href="http://gandi0.fabricatorz.com:1337/temple-of-bel.zip" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-download-alt"></span>Download Latest Temple of Bel 3D Models</a>
            <a href="https://github.com/newpalmyra/temple-of-bel" class="btn btn-info btn-lg"><span class="fa fa-github-square"></span>Contribute on GitHub</a>
          </div>
          <div style="margin-top:20px;">
            <h4>
              <a href="https://github.com/newpalmyra/press-kit/archive/master.zip">Download our Press Kit</a>
            </h4>
          </div>

      {% include news.html %}

      {% include videos.html %}

    <section id="block-block-9" class="block block-block contact-us-block clearfix">

      <h3 style="margin-top: 0px;">For questions, please email <a href="mailto:info@newpalmyra.org">info@newpalmyra.org</a></h3>

    </section>


